@import '../../styles/main.scss';

.accounts-section {
  .account-title-text {
    margin-left: $page-margin;
    margin-right: $page-margin;
  }
  .card-container {
    display: flex;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .horizontal-scroll-container {
    margin-left: $page-margin;
    margin-right: $page-margin;
  }
  .account-card {
    height: 11rem;
    width: 9rem;
    border-radius: 10px;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    background: $main-colour-gradient;
    flex: 0 0 auto;
    position: relative;
    cursor: pointer;
  }
  .account-card-expanded {
    height: 32vh;
    width: 100vw;
    top: 0;
    position: absolute;
    background: $main-colour-gradient;
    .expanded-card-container {
      margin: $page-margin;
      position: relative;
      z-index: 2;
    }
    .back-chevron{
      cursor: pointer;
    }
  }
  .card-title {
    color: $white;
  }
  .amount-currency {
    color: $white;
    font-size: $md-font;
    font-weight: 300;
  }
  .account-amount {
    color: $white;
    font-size: $xl-font;
    font-weight: 500;
  }
  .profile-icon-card {
    bottom: 0;
    position: absolute;
    margin-bottom: 1.2rem;
  }
  .account-name {
    color: $smoke;
  }
}
