@import '../../styles/main.scss';

.transactions-section {
  position: relative;
  background: white;
  border-radius: 25px;
  margin-bottom: 6rem;
  .container-content {
    margin-left: $page-margin;
    margin-right: $page-margin;
  }
  .transaction-card {
    height: 4rem;
    background-color: $smoke;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
  }
  .card-amount {
    font-size: $lg-font;
  }
  .card-date {
    color: #474747;
  }
  .card-unselected {
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .card-label-text {
    color: $white;
    font-size: $md-font;
  }
}
