@import "~bootstrap/scss/bootstrap";

$main-colour: #5154e1;
$main-colour-gradient: linear-gradient(180deg, #5154E1 0%, #6E51E0 100%);
$white: #ffffff;
$snow: #f9f9f9;
$silver: #c4c4c4; 
$black: #000000; 

$page-margin: 1.8rem; 